// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fortawesome install
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid"; // fas
@import "~@fortawesome/fontawesome-free/scss/regular"; // far
@import "~@fortawesome/fontawesome-free/scss/brands"; // fab



.text-size{
    font-size:13px;
}

.text-mimi{
    font-size:8px;
}


//movie_show スタイル

.title_size{
    font-size:16px;
}

.show_movie_img{
    width:270px;
    height:350px;
}

//Mypageのスタイル
.img_size{
    width:60px;
    height:60px;
}



//search form スタイル
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}